<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Cadastro!</h3>

  <button ion-button type="button" (click)="signOutClicked()" clear>Sign Out</button>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <ion-card  *ngIf="people.pessoa == undefined">

    <ion-card-header>
      Terminando o cadastro
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Como deseja ser chamado</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
        <ion-label>Data de Aniversário</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-card  *ngIf="people.pessoa == undefined">

    <ion-card-header>
      Terminando o cadastro
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label>Nome do estabelecimento</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>Nome do responsável</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>Telefone para contato</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>Endereço</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>Horario de abertura</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
        </ion-item>


        <ion-item>
          <ion-label>Horario de encerramento</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
        </ion-item>
        <ion-item>
        <ion-label>Data de Aniversário</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-list>

    <ion-item *ngFor="let est of people | async">
      <h2>{{est.email}}</h2>
       <ion-note item-right *ngIf="est.pessoa == true">
        É pessoa
      </ion-note>
     </ion-item>
  </ion-list>
</ion-content>
