<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Cadastro!</h3>
  {{parameter1}}
  <button ion-button type="button" (click)="signOutClicked()" clear>Sign Out</button>

    <ion-list>

      <ion-item *ngFor="let est of people | async">
        <h2>{{est.email}}</h2>
         <ion-note item-right *ngIf="est.pessoa == true">
          É pessoa
        </ion-note>
        <ion-note item-right *ngIf="est.pessoa == false">
         É estabelecimentos
       </ion-note>
       </ion-item>
    </ion-list>
  <button ion-button secondary menuToggle>Toggle Menu</button>

  <ion-card *ngFor="let est of people | async">

    <ion-card-header>
      Terminando o cadastro
    </ion-card-header>

    <ion-card-content  *ngIf="est.pessoa == true">
      <ion-list>

        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Como deseja ser chamado</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Data de Aniversário</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
        </ion-item>
        <button ion-button color="light" (click)="completarcadastro()">Completar Cadastro</button>

      </ion-list>
    </ion-card-content>

    <ion-card-content *ngIf="est.pessoa == false">
      <ion-list>

        <ion-item>
          <ion-label floating>Nome do estabelecimento</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label floating>Nome do responsável</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label floating>Telefone para contato</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label floating>Endereço</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label floating>Horario de abertura</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
        </ion-item>


        <ion-item>
          <ion-label floating>Horario de encerramento</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeEnd"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Data de Aniversário</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
        </ion-item>
        <button ion-button color="light" (click)="completarcadastro()">Completar Cadastro</button>
      </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>
