<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Cadastro!</h3>
  {{parameter1}}
  <button ion-button type="button" (click)="signOutClicked()" clear>Sign Out</button>


  <ion-list *ngIf="parameter1['tipo'] == 'estabelecimento' && parameter1['completo'] != 1">

    <ion-item>
      <ion-label floating>Nome do estabelecimento</ion-label>
      <ion-input type="text" [(ngModel)]="parameter1['name']"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Nome do responsável</ion-label>
      <ion-input type="text"  [(ngModel)]="parameter1['nameresp']"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Telefone para contato</ion-label>
      <ion-input type="number" [(ngModel)]="parameter1['phone']"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="parameter1['address']"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Horario de abertura</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label floating>Horario de encerramento</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeEnd"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Breve descrição</ion-label>
      <ion-input type="text-wrap" [(ngModel)]="parameter1['descricao']"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label floating>Data de Aniversário</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
    </ion-item> -->
    <button ion-button color="light" (click)="completarcadastro()">Completar Cadastro</button>
  </ion-list>

  <ion-card *ngIf="parameter1['tipo'] == 'estabelecimento' && parameter1['completo'] == 1">
  <ion-card-header>
    Seja bem vindo {{parameter1['name']}}
  </ion-card-header>

  <ion-list>
    <button ion-item (click)="openPage()">
      <ion-icon name="cart" item-start></ion-icon>
      Cardápio
    </button>

    <button ion-item>
      <ion-icon name="beer" item-start></ion-icon>
      Promoções
    </button>

  </ion-list>
</ion-card>


    <ion-list>

      <ion-item *ngFor="let est of people | async">
        <h2>{{est.email}}</h2>
         <ion-note item-right *ngIf="est.pessoa == true">
          É pessoa
        </ion-note>
        <ion-note item-right *ngIf="est.pessoa == false">
         É estabelecimentos
       </ion-note>
       </ion-item>
    </ion-list>
  <button ion-button secondary menuToggle>Toggle Menu</button>

  <ion-card  *ngIf="parameter1['tipo'] == 'pessoa' && parameter1['completo'] != 1">

    <ion-card-header>
      Terminando o cadastro
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="parameter1['nome']"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Como deseja ser chamado</ion-label>
          <ion-input type="text" [(ngModel)]="parameter1['nickname']"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Data de Aniversário</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="parameter1['birth']"></ion-datetime>
        </ion-item>
        <button ion-button color="light" (click)="completarcadastro()">Completar Cadastro</button>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card  *ngIf="parameter1['tipo'] == 'pessoa' && parameter1['completo'] == 1">

    <ion-card-header>
      Aqui estão algumas opções de lazer perto de você!
    </ion-card-header>
    <ion-card *ngFor='let est of todosestabelecimentos'>
      <img src="http://www.chaplinmarilia.com.br/wp-content/uploads/chaplin-marilia-bar-gatronoma-feijoada-02.jpg"/>
      <ion-card-content>
        <ion-card-title>
          {{est.name}}
          </ion-card-title>
        <p>
          {{est.descricao}}

        </p>
      </ion-card-content>
    </ion-card>

    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>
